/*  your css code here. If applicable */
body{
	margin: 0;
}
#container::before{
	content:"Before Element";
	color:#f00;
	font-size: 20px;
}
	
#container::after{
	content:"After Element";
	color:#f00;
	font-size: 20px;
}
	
	
}